<h1><%=@artist.name%></h1>

<h3>Songs:</h3>
<%@artist.songs.each do |song|%>
<ul>
  <li><a href="/songs/<%=@artist.song.slug%>"><%=song.name%></a></li>
</ul>
<%end%>

<h3>Genres</h3>
<%@artist.genres.each do |genre|%>
<ul>
  <li><%=genre.name%></li>
</ul>
<%end%>
