<h1>Create a new Song with the below form:</h1>

<form action="/songs/new" method="post">
  <p>Name: <input type="text" name="name" id="Name"></p>
  <p>Artist Name: <input type="text" name="artist"></p>
  <p>Song Genre: <input type="text" name="genre"></p>
  <p><input type="submit" id="submit" value="Create Song"></p>
</form>
